{% extends 'KunstmaanKMediaBundle:Default:layout.html.twig' %}

{% block subsidebar %}
    {% include 'KunstmaanKMediaBundle:ImageGallery:sidebar.html.twig' %}
{% endblock %}

{% block subbreadcrumb %}
	<li class="active">Images</li>
{% endblock %}
