web/bundles/
app/bootstrap.php.cache
app/cache/*
app/logs/*
build/
vendor
bin
composer.phar
.idea
web/generated-js
web/generated-css
web/uploads
.DS_Store
web/frontend
behat.yml
.vagrant
/cookbooks/
/Cheffile.lock
/composer.lock
web/css
/tmp/
behat.yml
.buildpath
.project
.settings/
*.sublime-project
*.sublime-workspace
node_modules/
web/vendor/
web/app_dev.php
