{% extends 'KunstmaanKAdminBundle:Default:layout.html.twig' %}

{% block breadcrumb %}
	<ul class="breadcrumb">
		<li><a href="{{ path('KunstmaanKAdminBundle_homepage') }}">Home</a> <span class="divider">/</span></li>
        <li><a href="{{ path('KunstmaanKAdminBundle_pages') }}">Pages</a> <span class="divider">/</span></li>
		<li class="active">add textpart</li>
	</ul>
{% endblock %}

{% block content %}

<div class="page-header">
    <h1>Add textpart</h1>
  </div>
   {% include 'KunstmaanKAdminBundle:TextPart:form.html.twig' with { 'form': form } %}
{% endblock %}