[parameters]
    database_driver="pdo_mysql"
    database_host="localhost"
    database_port=""
    database_name="kumasandbox"
    database_user="kumasandbox"
    database_password="kumasandbox"
    mailer_transport="smtp"
    mailer_host="localhost"
    mailer_user=""
    mailer_password=""
    locale="en"
    secret=" XXXXXXXXX "
    airbrake_apikey=" XXXXXXXXXX "
    airbrake_transport="curl"
    cdnpath=""
    requiredlocales="nl|fr|de|en"
    searchport=9200
    websitetitle="Kunstmaan Sandbox"
    searchindexname="kumasandbox"
    minkbaseurl="http://kumasandbox.kunstmaan.be/app_test.php"
    apchostname="http://kumasandbox.kunstmaan.be"