{% extends 'KunstmaanKMediaBundle:Default:layout.html.twig' %}

{% block topbar %}{% endblock %}

{% block sidebar %}{% endblock %}

{% block breadcrumb %}{% endblock %}

{% block content %}
    <div class="page-header">
        <h1>Choose Image</h1>
    </div>
{% endblock %}