{% extends 'KunstmaanKMediaBundle:Default:layout.html.twig' %}

{% block subsidebar %}
    {% include 'KunstmaanKMediaBundle:ImageGallery:sidebar.html.twig' %}
{% endblock %}

{% block subbreadcrumb %}
    <li><a href="{{ path('KunstmaanKMediaBundle_media_images') }}">Images</a> <span class="divider">/</span></li>
	<li class="active">create new image gallery</li>
{% endblock %}

{% block content %}

<div class="page-header">
    <h1>Create a new image gallery</h1>
  </div>
   {% include 'KunstmaanKMediaBundle:ImageGallery:form.html.twig' with { 'form': form } %}
{% endblock %}