{% extends 'KunstmaanKAdminBundle:Default:layout.html.twig' %}


{% block content %}

<div class="page-header">
    <h1>Welcome.<small> OpenMercury.NEXT application administration....</small></h1>
</div>
    
    <div class="alert-message info">
      <p><strong>Information. </strong> There are no new notifications.</p>
    </div>

{% endblock %}
