{% extends 'KunstmaanKMediaBundle:Default:layout.html.twig' %}

{% block subsidebar %}
    {% include 'KunstmaanKMediaBundle:FileGallery:sidebar.html.twig' %}
{% endblock %}

{% block subbreadcrumb %}
    <li><a href="{{ path('KunstmaanKMediaBundle_media_files') }}">Files</a> <span class="divider">/</span></li>
	<li class="active">create new file gallery</li>
{% endblock %}

{% block content %}

<div class="page-header">
    <h1>Create a new file gallery</h1>
  </div>
   {% include 'KunstmaanKMediaBundle:FileGallery:form.html.twig' with { 'form': form } %}
{% endblock %}